{%
    include 'includes/header.twig' with
    {
        'title': page_title,
        'user': logged_user,
        'root': root
    }
%}
<main id="loginApp">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <br>
                <h1 class="mb3">{{ page_title }}</h1>
                <br>
            </div>
            <div class="col-8 m-auto">
                <form @submit.prevent="doLogin" class="form">
                    <p class="help text-danger" v-if="errors['wrongData']==true">Login or password is not correct</p>
                    <p class="input-group">
                        <input type="text" class="form-control" placeholder="Login" v-model="login">
                    </p>
                    <p class="input-group">
                        <input type="password" class="form-control" placeholder="Password" v-model="password">
                    </p>
                    <p class="input-group">
                        <button class="btn btn-success" type="submit">Send</button>
                    </p>
                    <a href="./forgotPassword">Forgot password?</a>
                </form>
            </div>
        </div>
    </div>
</main>


{%
    include 'includes/footer.twig' with
    {
        'root': root
    }
%}