{%
    include 'includes/header.twig' with
    {
        'title': page_title,
        'user': logged_user
    }
%}

<main id="signUpApp">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <br>
                <h1 class="mb3">{{ page_title }}</h1>
                <br>
            </div>
            <div class="col-8 m-auto">
                <p class="alert alert-success" v-if="success">
                    {{ user_registered }}
                </p>
                <form @submit.prevent="signUp" class="form">

                    <span class="help text-danger" v-if="errors.noLogin == true">Enter login</span>
                    <span class="help text-danger" v-if="errors.emailNotSent == true">Sorry, something went wrong.</span>
                    <p class="input-group">
                        <input type="text" class="form-control" placeholder="Login" v-model="login">
                    </p>

                    <span class="help text-danger" v-if="errors.noEmail == true">Enter e-mail</span>
                    <span class="help text-danger" v-if="errors.wrongEmail == true">Email is not correct</span>
                    <p class="input-group">
                        <input type="text" class="form-control" placeholder="Email" v-model="email">
                    </p>

                    <span class="help text-danger" v-if="errors.noPassword == true">Enter password</span>
                    <p class="input-group">
                        <input type="password" class="form-control" placeholder="Password" v-model="password">
                    </p>

                    <span class="help text-danger" v-if="errors.noPasswordRepeat == true">Repeat password</span>
                    <span class="help text-danger" v-if="errors.notEqualPassword == true">Passwords not equal</span>
                    <p class="input-group">
                        <input type="password" class="form-control" placeholder="Repeat password" v-model="passwordRepeat">
                    </p>

                    <span class="help text-danger" v-if="errors.userExists == true">User with this email already exists</span>
                    <br>
                    <p class="input-group">
                        <button class="btn btn-success" type="submit">Send</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</main>

{%
    include 'includes/footer.twig' with
    {
        'root': root
    }
%}