</main>

<script src="static/vendor/jquery-3.6.0.min.js"></script>
<script src="static/vendor/popper.min.js"></script>
<script src="static/vendor/bootstrap.min.js"></script>

<script src='static/vendor/vue.js'></script>
<script src='static/vendor/axios.min.js'></script>
<script src='static/js/main.js'></script>
</body>
</html>